.colores{
  background-color: #154360; //azul de fondo
  background-color: #1A5276; //azul de fondo
  background-color: #212F3C; //azul de fondo
  background-color: #212F3C; //azul de fondo
  background-color: #2874A6; //azul de fondo
  background-color: #2874A6; //azul de fondo
}
