.colores{
  background-color: #154360; //azul de fondo
  background-color: #1A5276; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
  background-color: #154360; //azul de fondo
}
