.centrar_cards{
  margin-left: 10%;
  margin-right: 10%;
  /* IMPORTANTE */
  text-align: center;

}

.hr-color{
  background-color: #FFFFFF;
}

.diseño_card{
  background-color: yellow;
  padding: 30px;
  margin: 30px;
  margin-left: 46px;
  margin-right: 46px;

  /* IMPORTANTE */
  display: inline-block;
  width: 18rem;
  border: 0px !important;
}

.contenedor{
    text-align:center;
    width: auto;
}
.izquierda{
    float: left;
}
.derecha{
    float: right;
}
.centro{
   display:inline-block
}

@media only screen and (max-width: 700px) {
  .izquierda{
    margin-left: auto;
    margin-right: auto;
  }
  .derecha{
    margin-left: auto;
    margin-right: auto;
  }
  .centro{
    margin-left: auto;
    margin-right: auto;
  }
}
