.estilo{
  background-color: #212F3C;
  border-top: 1px solid #ffffff;
  text-align: center;
  padding: 20px;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: #FFFFFF;
}

.phantom{
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}
