.to-animate-0{

}
.to-animate-0:hover{
  background-color: rgb(215, 239, 251);
  background-size: 100% 100%;
  color: #185373 !important;
}
.to-animate-0{
  transition-duration: 0.8s;
}



.to-animate-1{
  text-align: center;
}
.to-animate-1:hover{
  background-color: rgb(237, 249, 255);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-1{
  transition-duration: 0.8s;
}



.to-animate-2{
  text-align: center;
}
.to-animate-2:hover{
  background-color: rgb(222, 226, 237);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-2{
  transition-duration: 0.8s;
}



.to-animate-3{
  text-align: center;
}
.to-animate-3:hover{
  background-color: rgb(249, 237, 255);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-3{
  transition-duration: 0.8s;
}



.to-animate-4{
  text-align: center;
}
.to-animate-4:hover{
  background-color: rgb(255, 244, 237);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-4{
  transition-duration: 0.8s;
}



.to-animate-5{
  text-align: center;
}
.to-animate-5:hover{
  background-color: rgb(237, 244, 255);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-5{
  transition-duration: 0.8s;
}



.to-animate-6{
  text-align: center;
}
.to-animate-6:hover{
  background-color: rgb(249, 255, 237);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-6{
  transition-duration: 0.8s;
}



.to-animate-7{
  text-align: center;
}
.to-animate-7:hover{
  background-color: rgb(237, 251, 255);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-7{
  transition-duration: 0.8s;
}



.to-animate-8{
  text-align: center;
}
.to-animate-8:hover{
  background-color: rgb(255, 237, 244);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-8{
  transition-duration: 0.8s;
}



.to-animate-9{
  text-align: center;
}
.to-animate-9:hover{
  background-color: rgb(240, 237, 255);
  background-size: 100% 100%;
  color: #350b4a !important;
  text-align: center;
}
.to-animate-9{
  transition-duration: 0.8s;
}


.interlineado{
  margin-bottom: 5%;
  padding-bottom: 3%;
}

.interlineado_top{
  margin-top: 5%;
  padding-top: 3%;
}

.estilo_boton{
  margin-bottom: 2%;
}
