.color_barra{
  opacity: 0.8;
}

.contenido_central{
  background-color: #FFFFFF !important;
}

.letras_logo{
  color: #05172e !important;
}

.letras_menu{
  color: #D4E6F1 !important;
}

.contenido_inicial{
  background-color: #053c61;
}
