.color_barra{
  opacity: 0.8;
}

.contenido_central{
  background-color: #FFFFFF !important;
}

.letras_logo{
  color: #05172e !important;
}

.letras_menu{
  color: #D4E6F1 !important;
}

.letras_menu_1:hover{
  color: #efa0f2 !important;
}
.letras_menu_2:hover{
  color: #efa0f2 !important;
}
.letras_menu_3:hover{
  color: #efa0f2 !important;
}
.letras_menu_4:hover{
  color: #efa0f2 !important;
}
.letras_menu_5:hover{
  color: #efa0f2 !important;
}
.letras_menu_6:hover{
  color: #454545 !important;
}

.contenido_inicial{
  background-color: #135079;
}
